.item-list .list-group-item {
    cursor: pointer;
    
}

.item-list :any-link{
    text-decoration-line: none;
    color: goldenrod
}

/* .item-list .list-group-item span{
    text-decoration-line: none;
} */
  
.item-list .list-group-item:hover {
background-color: #444;
}

.item-list .list-group {
    margin: 16px;
    
}